<app-nav></app-nav>
<main>
    <section class="row  ml-5  mt-5 pt-4 mr-5" *ngFor="let v of videos">
        <section class="col-sm-3 ml-2 mr-2"><iframe class="mt-2 mb-2 ml-1 mr-1 rounded" [src]="url1+v.id.videoId | safe"></iframe></section>
        <section class="col-sm-8 ml-2 mr-2 "><a class="font-weight-bold"[routerLink]="[ '/video',v.id.videoId+v.snippet.title]"><h4>{{v.snippet.title}}</h4></a>
            
            <p class="font-weight-bold">{{v.snippet.channelTitle }}</p>
            <p>{{v.snippet.description}} </p>
            
            <button type="button" (click)=addto(v.id,v.snippet.title) class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Add to Playlist
                  </button>
                
                  <!-- The Modal -->
                  <div class="modal fade" id="myModal">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                      
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Go to Playlist</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body">
                          Video has been added to Playlist
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK!</button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
        </section>
    </section>
</main>