<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler justify-content-right" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Atube</a>
      
        <div class="collapse navbar-collapse" id="navbarToggle">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        
          </ul>
       
            <input #search_text class="form-control " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" (click)="s(search_text.value)">Search</button>
        </div>
      </nav>
   
  </header>

<main class="mt-2"> 
    
        <section *ngIf="trending_tab" >      
          <h1 class="ml-3 text-uppercase text-bold">videos on trend</h1>
        </section>
        <section *ngIf="search_tab" >      
            <h1 class="ml-3 text-uppercase text-bold">some {{searchkey}} videos</h1>
          </section>
          
          <section class="card-columns ml-3 mr-3">
        <section class="card   " *ngFor="let v of videos">
          <section class="card-header">{{v.snippet.title}}</section>
          <section *ngIf="trending_tab" >
         <a [routerLink]="[ '/video',v.id+v.snippet.title]"><img class="card-img-top h-50"  [src]="v.snippet.thumbnails.medium.url " > </a>
        </section> 
        <section *ngIf="search_tab">
         <a [routerLink]="[ '/video',v.id.videoId+v.snippet.title]"><img class="card-img-top h-50"  [src]="v.snippet.thumbnails.medium.url " > </a>

        </section>
         <section class="card-body">
            <section class="card-title">
              
            </section>
          </section>
      
      </section>
</section>
</main>