
main section img{
    height:300px;
}

main section section a img{
    height:200px;
}

main section section a iframe{
    height: 300px;
    width: 100%;
}

.card{
    width:100%;
}
.card-body
{
    height:100px;
}
.card-footer
{
    background-color: white;
}