<app-nav></app-nav>
<main class="mt-5">
    <section class="card-columns ml-2 mr-2  pt-4 ">
        
        <section class="card text-center"   *ngFor="let v of videos">
            <a [routerLink]="[ '/video',v.id+v.snippet.title]">
                <img class="card-img-top "  [src]="v.snippet.thumbnails.medium.url " >
             </a>
            <section class="card-body text-center">
                <h5 class="card-title">
                    {{v.snippet.title}}
                </h5>
            </section>
            <section class="card-footer">
              {{v.snippet.title}}
                 <!--   <button class="btn btn-success" (click)=addto(v.id,v.snippet.title)>Add to Playlist</button> 
                 -->
                     <!-- Button to Open the Modal -->
                     <ng-template #content let-modal>
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form>
                                <div class="form-group">
                                  <label for="dateOfBirth">Date of birth</label>
                                  <div class="input-group">
                                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                                    </div>
                                    
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                            </div>
                          </ng-template>
                          
                          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
                          
                          <hr>
    
                </section>
            
        </section>
    </section>
</main>