<header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top ">
              <!-- button for toggle-->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span>Menu</span>
                  </button>
                  <!-- button closed-->
                  <section class="collapse navbar-collapse" >
                    <ul class="navbar-nav mr-auto text-uppercase">
                      <li class="nav-item active ">
                        <a class="nav-link"  href="#">home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active ">
                            <a class="nav-link"  href="#">home <span class="sr-only"></span></a>
                          </li>
                    </ul>
                    
                    <!-- search bar and form-->
                    <!-- <form class="form-inline text-uppercase"> -->
                       <input #srch class=" mr-3" type="search" >
                      <button class="btn btn-outline-success button_search text-capitalize" type="submit" (click)="s(srch.value)" >search</button>
                    <!-- </form> -->
                  </section>
          
        </nav>
    
    </header>